.git/*
env/
venv/
.venv
.venv/
.vscode/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

sent_emails/
*.log
static/
posts/static/

db.sqlite3
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
media/