{% extends "base.html" %} 
{% block title %} Моя лента {% endblock %}

{% block content %}
    <div class="container">
        {% include "menu.html" with index=True %}
           <h1> Моя лента </h1>
                    {% for post in page %}
                        {% include "post_item.html" with post=post %}
                    {% endfor %}
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}